html {
	width: 100%;
	height: 100%;
	background-color: #FFFF99;
}

body {
	position: relative;
	width: 96%;
	height: 97%;
	margin: 7px auto;
	background-color: #15262A;
}

#heading {
	position: fixed;
	top: 25px;
	left: 50px;
	font-family: "Frijole";
	font-size: 30px;
	color: white;

}

#usamap {
	border: 10px dashed white;
	position: fixed;
	top: 150px;
	left: 85px
}

#mainscript {
	position: fixed;
	top: 190px;
	right: 170px;
	font-family: "Special Elite";
	font-size: 35px;
	color: #FFFF99;
}

#start {
	position: fixed;
	top: 360px;
	right: 290px;
	width: 190px;
	height: 60px;
	border-radius: 3px;
	font-family: "Special Elite";
	font-size: 20px;
	background-image: linear-gradient(#66FF33, #33801A);
	color: white;
	border-color: none;
}