html {
	width: 100%;
	height: 100%;
	background-color: #808080;
}

body {
	position: relative;
	width: 99%;
	height: 97%;
	margin: 10px 7px 10px 7px;
	background-color: #15262A;
}

#heading {
	position: fixed;
	top: 55px;
	left: 50px;
	font-family: "Frijole";
	font-size: 30px;
	color: white;

}

#usamap {
	border: 10px dashed #808080;
	position: fixed;
	top: 150px;
	left: 85px
}

#mainscript {
	position: fixed;
	top: 190px;
	right: 170px;
	font-family: "Special Elite";
	font-size: 35px;
	color: #FFFF99;
}

#start {
	position: fixed;
	top: 360px;
	right: 290px;
	width: 190px;
	height: 60px;
	border-radius: 5px;
	font-family: "Special Elite";
	font-size: 20px;
	background-image: linear-gradient(#85FF5C, #52CC29);
	color: #333333;
	border-color: #85FF5C;
}

.questionheader {
	position: relative;
	top: 75px;
	left: 130px;
	font-family: "Frijole";
	font-size: 30px;
	color: white;
}

.answeroptions {
	position: relative;
	top: 125px;
	left: 575px;
	color: white;
	font-family: "Special Elite";
	font-size: 33px;
}

.answeroptions input {
	display: inline-block;
}

.submitanswer {
	position: relative;
	width: 175px;
	height: 50px;
	border-radius: 5px;
	font-family: "Special Elite";
	font-size: 20px;
	background-image: linear-gradient(#85FF5C, #52CC29);
	color: #333333;
	border-color: #85FF5C;
}

.answerimage {
	position: fixed;
	top: 250px;
	left: 500px;
	width: 300px;
	height: 300px;
}

.correct {
	position: fixed;
	top: 90px;
	left: 540px;
	color: white;
	font-family: "Special Elite";
	font-size: 50px;
}

.incorrect {
	position: fixed;
	top: 130px;
	left: 200px;
	color: white;
	font-family: "Special Elite";
	font-size: 50px;
}

#grade {
	position: fixed;
	top: 190px;
	right: 290px;
	font-family: "Special Elite";
	font-size: 35px;
	color: #FFFF99;
}